@media screen and (max-width: 1399px) {
    .advantages-text {
        h3 {
            font-size: 32px;
        }
    }
    
    .advantages-text {
        padding: 35px;
    }

    .advantages-img__img {
        img {
            max-width: 100%;
            height: auto;
        }
    }

}
