@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }

    header {
        .container {
            padding: 11px 20px;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100vw;
                border: 1px solid $light-black;
            }
        }

        .navbar-brand {
            margin-right: 0;
            display: flex;

            img {
                max-height: 25px;
            }
        }

        &.fixed {
            +.wrapper {
                padding-top: 66px;
            }
        }
    }

    .login {
        .btn-user {
            width: 44px;
            height: 44px;
            padding: 4px 5px 6px;
            order: -1;
            color: $accent;
            background-color: $background-user;
            border: none;
            position: relative;
            border-radius: 8px;

            &:hover,
            &:focus {
                background-color: $background-user;
                color: $accent;
            }
        }

        .navbar-collapse {
            .status {
                display: block;
            }
        }

        .navbar-nav_main-navigation {
            margin: 90px 0 128px;
        }
    }

    .navbar-toggler {
        background-color: $background-user;
        width: 44px;
        height: 44px;
        border-radius: 8px;
        position: relative;
        border: none;


        &:focus {
            box-shadow: none;
        }

        &__line {
            width: 20px;
            height: 2px;
            display: flex;
            background-color: $accent;
            position: absolute;
            left: 50%;
            top: 15px;
            transform: translate(-50%, 0);
            transition: .4s;

            &:nth-child(2) {
                top: 21px;
            }

            &:nth-child(3) {
                top: 27px;
            }
        }

        &[aria-expanded="true"] {
            .navbar-toggler__line {
                top: 19px;
                transform: translate(-50%, 0) rotate(45deg);

                &:nth-child(2) {
                    top: 19px;
                    transform: translate(-50%, 0) rotate(-45deg);
                }

                &:nth-child(3) {
                    opacity: 0;
                }
            }
        }
    }

    .navbar-nav {
        .dropdown-menu {
            border: none;


            .dropdown-item {
                padding: 12px 25px;

                &::after {
                    display: none;
                }
            }
        }
    }

    .navbar-collapse {
        margin: 0 -20px 0;
        padding: 0px 20px;
        z-index: 1;
        background-color: $background;
        transform: translate(0, -66px);
        position: relative;

        .navbar-toggler {
            margin-top: 22px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 78px;
            left: 0;
            right: 0;
            border: 1px solid $light-black;
        }

        .status {
            position: absolute;
            left: 20px;
            top: 110px;
            display: none;
        }
    }

    .navbar-nav_country {
        position: absolute;
        right: 20px;
        top: 24px;

        .dropdown-menu {
            position: absolute;
            border: 1px solid $strokes;
            left: -10px;
        }
    }

    .navbar-nav_language {
        right: 120px;
    }


    .navbar-nav_main-navigation {
        margin: 32px 0 128px;

        .nav-link {
            font-size: 20px;
        }
    }



    input {
        padding: 22.5px 20px;
    }

    .input-box label {
        left: 21px;
        top: 24px;
    }

    input,
    label,
    .conrol-box label {
        font-size: 14px;
    }

    .btn {
        font-size: 16px;

        &.btn-lg {
            border-radius: 8px;
            padding: 21px 94px 23px;
        }
    }

    .column-logo {
        display: none;
    }

    .page-login .template-form {
        padding: 0 20px;
        max-width: 500px;
        margin: 0 auto;
    }

    .template-form {
        .btn-profile {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        &_title {
            font-size: 32px;
            min-height: 72px;
            padding: 11px 0 0 72px;
            display: flex;
            align-items: center;
        }


        &_subtitle {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    .input-box {
        margin-bottom: 20px;
    }

    .conrol-box {
        margin: 44px 0;
    }

    .template-form .btn-row {
        margin: 40px 0 27px;
    }

    .template-form__question {
        font-size: 14px;
    }

    .input-row {
        display: block;
    }

    section {
        padding-bottom: $section-padding-mb;
    }

    .review {
        margin-bottom: $section-padding-mb;
    }

    .social-nav {
        gap: 12px;
    }

    .icon {
        width: 44px;
        height: 44px;
        padding: 10px;
    }

    .footer-logo {
        margin-bottom: 0;

        img {
            max-width: 92px;
        }
    }

    footer {
        border-top: 1px solid $light-black;
        padding-top: 40px;

        .container,
        .column-lg {
            flex-direction: column;
        }

        .container {
            &:first-child {
                margin-bottom: 0;
            }
        }

        .column-lg {
            gap: 28px;
            margin: 40px 0;
        }

        .column-sm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 320px;
        }
    }

    .footer-nav {
        gap: 12px;

        h5 {
            font-size: 14px;
            line-height: 1.57;
            margin: 0;
        }

        a {
            font-size: 20px;
            line-height: 1.6;
        }
    }

    address.footer-nav {
        margin-bottom: 0;

        a {
            font-size: 16px;
        }
    }

    .copyright-nav {
        display: none;
    }

    .container.copyright {
        padding: 20px;
        font-size: 14px;

        &:before {
            left: 20px;
            right: 20px;
        }
    }
}


