@media screen and (max-width: 1299px) {
    header {
        .container {
            padding: 50px 12px;
        }
    }

    .social-nav {
        gap: 20px;
    }

    .banner-advantages {
        grid-template-columns: 1fr;
    }

    .column-lg {
        gap: 65px;
    }

    .footer-nav {

        h5 {
            font-size: 24px;
        }
        a {
            font-size: 18px;
        }
    }
}