header {
    background-color: #373737;
    transition: .3s;
    z-index: 10;

    &.fixed {
        backdrop-filter: blur(24.5px);
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        + .wrapper {
            padding-top: 156px;
        }
    }

    .navbar {
        padding: 0;

        &-brand {
            padding: 0;
            margin-right: 22px;
            
        }
    }

    .container {
        max-width: 1920px;
        padding: 50px;
        position: relative;
    }

    .nav-link {
        color: $titles;

        &:hover,
        &.dropdown-toggle.show {
            color: $accent;
            text-decoration: none;

            &:after {
                border-color: $accent;
            }
        }
    }

    .btn-registration {
        padding: 7px 15px 11px;
    }
}

.login {
    .btn-registration {
        display: none;
    }


    .btn-exit {
        display: block;
    }

    .btn-user {
        width: 56px;
        height: 56px;
        padding: 5px 5px 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 8px;

        &:before {
            content: "";
            position: absolute;
            right: -2px;
            top: -2px;
            background-color: $errors;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }

        &.verified:before {
            background-color: $accent;
        }
    }
}

.btn-user,
.btn-exit {
    display: none;
}


.navbar-nav_country {
    .nav-link {
        color: $country;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 5px;
        margin-right: -7px;

        &:after {
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
        }
    }
}

.navbar-nav_main-navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .nav-item {
        .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 18px;
        }
    }
}

.dropdown-toggle::after {
    display: inline-block;
    vertical-align: 2px;
    margin-left: 8px;
    border-top: 3px solid $text;
    border-right: 3px solid $text;
    border-bottom: none;
    border-left: none;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
}

.navbar-nav {
    .dropdown-menu {
        background: $background;
        border-radius: 8px;
        padding: 5px 0;
        border: 1px solid $strokes;

        .dropdown-item {
            color: $titles;
            padding: 20px 25px 21px;
            position: relative;

            &:hover {
                background-color: transparent;
                color: $accent;
                text-decoration: none;
            }

            &:after {
                content: "";
                position: absolute;
                left: 25px;
                right: 25px;
                bottom: 0;
                height: 1px;
                background-color: $strokes;
            }
        }

        li {
            &:last-child {
                .dropdown-item {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.navbar-nav_language {
    @extend .navbar-nav_country;
    padding-left: 30px;
    padding-right: 30px;

    .dropdown-toggle {
        &:after {
            display: none;
        }
    }
}


.navbar-nav_small {


    .dropdown-menu {
        min-width: auto;

        .dropdown-item {
            padding: 8px 25px 9px;
        }
    }
}

.navbar-nav_middle {
    .dropdown-menu {
        min-width: auto;

        .dropdown-item {
            padding: 16px 25px 17px;
        }
    }
}