.review {
    background-color: $review;
    padding: 250px 0 174px;
    margin-bottom: $section-padding;
    border-radius: 50px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.swiper {
    max-width: 1080px;
    margin: 0 auto;

    .swiper-pagination {
        bottom: 0;
        display: flex;
        justify-content: center;

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: $titles;
            opacity: 1;
            border-radius: 12px;
            margin: 0 12px;
            transition: .3s;

            &-active {
                background-color: $accent-2;
                width: 160px;
            }
        }
    }
}

.swiper-wrapper {
    align-items: flex-end;
}

.swiper-slide {
    color: $system;
    padding: 0 50px;
    padding: 50px 65px 72px;

    &::before {
        content: "";
        position: absolute;
        width: 136px;
        height: 112px;
        top: 3px;
        left: -1px;
        background: url(./assets/img/icon-quete.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: -1;
    }
}

.review-text {
    font-size: 32px;
    margin-bottom: 80px;
}

.review-info {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
}

.review-autor {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
    font-style: normal;
}

.review-date {
    font-size: 20px;
    color: $accent-2;
}

.swiper-navigation {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 72px;
    gap: 20px;
    height: 74px;
    background: $review;
    z-index: 1;
    padding-right: 65px;
    padding-left: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    position: static;
    border: 1px solid $accent-2;
    border-radius: 50%;
    height: 74px;
    width: 74px;
    margin-top: 0;

    &::after {
        content: "";
        width: 23px;
        height: 16px;
        background: url(./assets/img/icon-arrow.svg);
    }
}

.swiper-button-next {
    &::after {
        transform: rotate(180deg);
    }
}