<section class="advantages">
    <div class="container">
        <div class="template-title">
            <h2>переваги роботи з Onebit</h2>
            <h5>Лише декілька причин, чому слід обрати Onebit</h5>
        </div>

        <div class="advantages-list">
            <div class="advantages-item">
                <div class="advantages-text">
                    <h4>індивідуальний підхід</h4>
                    <h6>Ми працюємо, піклуючись про кожного нашого клієнта</h6>
                </div>
                <div class="advantages-img">
                    <picture  class="advantages-img__img">
                        <source media="(min-width:1025px)" srcset="./assets/img/advantages-1.png">
                        <img src="./assets/img/advantages-1.png" alt="advantages">
                    </picture>
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages-text">
                    <h4>тех.підтримка клієнтів 24/7</h4>
                    <h6>Напряму задавайте цікаві вам питання у будь-який час</h6>
                </div>
                <div class="advantages-img">
                    <picture  class="advantages-img__img">
                        <source media="(min-width:1025px)" srcset="./assets/img/advantages-2.png">
                        <img src="./assets/img/advantages-2.png" alt="advantages">
                    </picture>
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages-text">
                    <h4>безпека операцій</h4>
                    <h6>Особисті дані клієнтів та історії операцій суворо конфіденційні</h6>
                </div>
                <div class="advantages-img">
                    <picture  class="advantages-img__img">
                        <source media="(min-width:1025px)" srcset="./assets/img/advantages-3.png">
                        <img src="./assets/img/advantages-3.png" alt="advantages">
                    </picture>
                </div>
            </div>
            <div class="advantages-item">
                <div class="advantages-text">
                    <h4>фіксований курс</h4>
                    <h6>Гарантована фіксація курсу після фінального підтвердження blockchain</h6>
                </div>
                <div class="advantages-img">
                    <picture  class="advantages-img__img">
                        <source media="(min-width:1025px)" srcset="./assets/img/advantages-4.png">
                        <img src="./assets/img/advantages-4.png" alt="advantages">
                    </picture>
                </div>
            </div>
        </div>
      </div>
</section>