<section class="cityes">
      <div class="container">
        <div class="template-title case-2">
            <h2>де нас можна знайти</h2>
            <a href="contacts.html" class="cityes-link">дивитися усі міста</a>
        </div>
        <div class="city-list">
            <a href="cityes/kyiv.html" class="city-item" style="background-image: url(assets/img/kyiv.png);">Київ</a>
            <a href="cityes/kharkiv.html" class="city-item" style="background-image: url(assets/img/kharkiv.png);">Харків</a>
            <a href="cityes/lyiv.html" class="city-item" style="background-image: url(assets/img/lviv.png);">Львів</a>
            <a href="cityes/odesa.html" class="city-item" style="background-image: url(assets/img/odesa.png);">Одеса</a>
        </div>
      </div>
</section>