<section class="faq">
    <div class="container">
        <div class="template-title">
            <h1 class="h2">найчастіші питання</h1>
            <h5 class="faq-subtitle">Ми подбали про ваш час — зібрали найпопулярніші 
                та відповіді на них</h5>
        </div>
        <div class="accordion" id="accordionFAQExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ-collapseOne" aria-expanded="false" aria-controls="FAQ-collapseOne">Що таке KYC і для чого він потрібнен?
                </button>
            </h2>
            <div id="FAQ-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                    KYC — термін банківського та біржового регулювання для фінансових інститутів і букмекерських контор, а також інших компаній, які працюють з грошима приватних осіб, що означає, що вони повинні ідентифікувати та встановити особу контрагента, перш ніж проводити фінансову операцію.
                </div>
            </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ-collapseTwo" aria-expanded="false" aria-controls="FAQ-collapseTwo">Чи обов'язково проходити реєстрацію для того, щоб здійснити операцію на сайті?
                    </button> 
                    </h2>
                    <div id="FAQ-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                          KYC — термін банківського та біржового регулювання для фінансових інститутів і букмекерських контор, а також інших компаній, які працюють з грошима приватних осіб, що означає, що вони повинні ідентифікувати та встановити особу контрагента, перш ніж проводити фінансову
                        </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">  
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ-collapseThree" aria-expanded="false" aria-controls="FAQ-collapseThree">Що потрібно для проходження верифікації?
                </button>
                </h2>
                <div id="FAQ-collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        KYC — термін банківського та біржового регулювання для фінансових інститутів і букмекерських контор, а також інших компаній, які працюють з грошима приватних осіб, що означає, що вони повинні ідентифікувати та встановити особу контрагента, перш ніж проводити фінансову операцію.
                    </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">  
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ-collapseFour" aria-expanded="false" aria-controls="FAQ-collapseFour">Чи безпечно завантажувати документи?
            </button>
            </h2>
            <div id="FAQ-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                    KYC — термін банківського та біржового регулювання для фінансових інститутів і букмекерських контор, а також інших компаній, які працюють з грошима приватних осіб, що означає, що вони повинні ідентифікувати та встановити особу контрагента, перш ніж проводити фінансову операцію.
                </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">  
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ-collapseFive" aria-expanded="false" aria-controls="FAQ-collapseFive">Як працює реферальна програма onebit? Які бонуси ви можете отримати?
        </button>
        </h2>
        <div id="FAQ-collapseFive" class="accordion-collapse collapse">
            <div class="accordion-body">
                KYC — термін банківського та біржового регулювання для фінансових інститутів і букмекерських контор, а також інших компаній, які працюють з грошима приватних осіб, що означає, що вони повинні ідентифікувати та встановити особу контрагента, перш ніж проводити фінансову операцію.
            </div>
</div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">  
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FAQ-collapseSix" aria-expanded="false" aria-controls="FAQ-collapseSix">Що таке onebit-коїни, і для чого вони?
        </button>
        </h2>
        <div id="FAQ-collapseSix" class="accordion-collapse collapse">
            <div class="accordion-body">
                KYC — термін банківського та біржового регулювання для фінансових інститутів і букмекерських контор, а також інших компаній, які працюють з грошима приватних осіб, що означає, що вони повинні ідентифікувати та встановити особу контрагента, перш ніж проводити фінансову операцію.
            </div>
       </div>
  </div>
</div>
</div>
</section>