<section class="flex">
    <div class="container">
        <h2 class="crypto-title">топ крипто-фіатних пар</h2>
        <div class="crypto-container">
            <div class="flex-element flex-start">
                <img class="coin-png" src="./assets/img/bitcoin.svg">bitcoin
        </div>
        <div class="flex-element margin-right">
            <img class="coin-png" src="./assets/img/USD.svg">USD
        </div>
            <div class="flex-element">
                <img class="coin-png" src="./assets/img/zcash.svg">zcash
            </div>
            <div class="flex-element flex-end">
                <img class="coin-png" src="./assets/img/UAH.svg">UAH
            </div>
        </div>

        <div class="crypto-container flex-start">
            <div class="flex-element">
                <img class="coin-png" src="./assets/img/ripple.svg">ripple
        </div>
        <div class="flex-element">
            <img class="coin-png" src="./assets/img/EUR.svg">EUR
        </div>
        </div>

        <div class="crypto-container flex-end">
            <div class="flex-element">
                <img class="coin-png" src="./assets/img/dash.svg">dash
        </div>
        <div class="flex-element">
            <img class="coin-png" src="./assets/img/USD.svg">USD
        </div>
        </div>
        <div class="crypto-container flex-start-fourth">
            <div class="flex-element">
                <img class="coin-png" src="./assets/img/ethereum.svg">ethereum
        </div>
        <div class="flex-element">
            <img class="coin-png" src="./assets/img/UAH.svg">UAH
        </div>
        </div>

        <div class="crypto-container flex-end-fifth">
            <div class="flex-element">
                <img class="coin-png" src="./assets/img/tron.svg">tron
        </div>
        <div class="flex-element">
            <img class="coin-png" src="./assets/img/EUR.svg">EUR
        </div>
        </div>
        </div>
</section>