<section class="questions">
    <div class="container">
        <div class="template-title">
            <h2 class="questions-title">залишились питання?</h2>
            <h5>Залишились питання або хочете дізнатися більше, 
                виберіть зручний спосіб для зв'язку</h5>
        </div>
        <nav class="social-nav">
            <a href="#">
                <i class="icon">
                    <svg>
                        <use href="#icon-inst"></use>
                    </svg>
                </i>
            </a>
            <a href="#">
                <i class="icon">
                    <svg>
                        <use href="#icon-yt"></use>
                    </svg>
                </i>
            </a>
            <a href="#">
                <i class="icon">
                    <svg>
                        <use href="#icon-tg"></use>
                    </svg>
                </i>
            </a>
    </nav>
</div>

</section>