<div class="review">
  <div class="container">
    <div class="slider-review">
      <!-- Slider main container -->
       <div class="swiper">
        <!-- Additional required wrapper -->
         <div class="swiper-wrapper">
          <article class="swiper-slide">
            <blockquote class="review-text">Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</blockquote>
            <div class="review-info">
              <cite class="review-autor">Олег Науменко</cite>
              <time class="review-date">29 листопада 2022</time>
            </div>
          </article>
          <article class="swiper-slide">
            <blockquote class="review-text">У мене був досвід використання обмінника Onebit лише один раз. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</blockquote>
            <div class="review-info">
              <cite class="review-autor">Сергій Науменко</cite>
              <time class="review-date">11 листопада 2022</time>
            </div>
          </article>
          <article class="swiper-slide">
            <blockquote class="review-text">Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</blockquote>
            <div class="review-info">
              <cite class="review-autor">Дмитро Науменко</cite>
              <time class="review-date">15 листопада 2022</time>
            </div>
          </article>
          <article class="swiper-slide">
            <blockquote class="review-text">Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</blockquote>
            <div class="review-info">
              <cite class="review-autor">Дмитро Науменко</cite>
              <time class="review-date">15 листопада 2022</time>
            </div>
          </article>
          <article class="swiper-slide">
            <blockquote class="review-text">Виводив Біткоїн на Приват24. Зайшов на сайт за рекомендацією колеги і залишився задоволений усім. Дуже зручний онлайн-сервіс, з обміном крипти впорається навіть такий початківець, як я</blockquote>
            <div class="review-info">
              <cite class="review-autor">Дмитро Науменко</cite>
              <time class="review-date">15 листопада 2022</time>
            </div>
          </article>
         </div>
         <div class="swiper-pagination"></div>
       <div class="swiper-navigation">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
       </div>
       </div>
    </div>
  </div>
</div>