<section class="services">
   <div class="container">
    <div class="template-title">
        <h1 class="h2">користуйся повним 
            спектром послуг onebit</h1>
        <h5>Послуги, у наданні яких ми справжні майстри своєї справи</h5>
    </div>
    <div class="services-list">
        <div class="services-item">
            <div class="services__text-box">
                <h3 class="services-item__title">перекази по Україні</h3>
                <h6 class="services-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для переказу коштів</h6>
                <a href="service-1.html" class="services-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
            </div>
            <picture class="services-item__picture">
                <source media="(min-width:576px)" srcset="./assets/img/ukraine-image.png">
                <img src="./assets/img/ukraine-image-mob.png" alt="service">
            </picture>
        </div>
        <div class="services-item">
            <div class="services__text-box">
            <h3 class="services-item__title">міжнародні перекази</h3>
            <h6 class="services-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для міжнародного переказу коштів</h6>
            <a href="service-2.html" class="services-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
        </div>
            <picture class="services-item__picture">
                <source media="(min-width:576px)" srcset="./assets/img/world-image.png">
                <img src="./assets/img/world-image-mob.png" alt="service">
            </picture>
        </div>
        <div class="services-item">
            <div class="services__text-box">
            <h3 class="services-item__title">swift перекази</h3>
            <h6 class="services-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для SWIFT/SEPA $/Є переказів</h6>
            <a href="service-3.html" class="services-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
        </div>
            <picture class="services-item__picture">
                <source media="(min-width:576px)" srcset="./assets/img/swift-image.png">
                <img src="./assets/img/swift-image-mob.png" alt="service">
            </picture>
        </div>
        <div class="services-item">
            <div class="services__text-box">
            <h3 class="services-item__title">обмін криптовалют</h3>
            <h6 class="services-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для обміну криптовалют</h6>
            <a href="service-4.html" class="services-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
        </div>
            <picture>
                <source media="(min-width:576px)" srcset="./assets/img/crypto-image.png">
                <img src="./assets/img/crypto-image-mob.png" alt="service">
            </picture>
        </div>
        <div class="services-item">
            <div class="services__text-box">
            <h3 class="services-item__title">перекази юаня у Китай</h3>
            <h6 class="services-item__description">проводячи угоду з onebit, ви отримуєте найвигідніші умови для оплати рахунків у Китай</h6>
            <a href="service-5.html" class="services-item__link">дізнатися більше<svg><use href="#icon-arrow"></use></svg></a>
        </div>
            <picture>
                <source media="(min-width:576px)" srcset="./assets/img/yuan-image.png">
                <img src="./assets/img/yuan-image-mob.png" alt="service">
            </picture>
        </div>
    </div>
   </div>
</section>