<section class="steps">
    <div class="container">
        <div class="template-title">
            <h2>3 простих кроки почати</h2>
            <h5 class="steps-subtitle">Не знаєш з чого почати? 
                Слідуй цим простим крокам для швидкого старту</h5>
        </div>
        <div class="steps-list">
            <a href="sign-up.html" class="step-item">
                <div class="step-number"></div>
                <h3 class="step-title">реєстрація</h3>
                <h6 class="step-description">зареєструйся, щоб отримувати можливість приєднатися до бонусної системи та отримати додаткові можливості</h6>
            </a>
            <a href="#" class="step-item">
                <div class="step-number"></div>
                <h3 class="step-title">верифікація</h3>
                <h6 class="step-description">пройдіть верифікацію особи та 
                    отримайте можливість 
                    здійснювати обмін фіатних валют</h6>
            </a>
            <a href="#" class="step-item">
                <div class="step-number"></div>
                <h3 class="step-title">торгівля</h3>
                <h6 class="step-description">користуйтеся найвигіднішим курсом для обміну валют</h6>
            </a>
        </div>
    </div>
</section>